.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #00695C;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container input[type="text"] {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
}

.search-container button {
  padding: 6px 12px;
  background-color: #004d40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons {
  margin-left: 20px;
}

.buttons button {
  margin-left: 8px;
  padding: 6px 12px;
  background-color: rgb(253, 253, 253);
  color: #00695C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.navbar {
  background-color: #004d40;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #00796B;
}
